.CategorySkeleton {
	min-width: 30%;
	height: 240px;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 7.5px 15px;
	overflow: hidden;

	.CategorySkeleton-background {
		width: 100%;
		height: 100%;
	}

	.CategorySkeleton-body {
		height: 90px;
		padding: 0 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;

		.CategorySkeleton-title {
			margin: 0 6px 0;
		}
	}
}