.Button {
	$Button-background: #4a4a4a;
	$Button-color: white;
	$Button-border: black;

	background-color: $Button-background;
	color: $Button-color;
	border: none;
	padding: 8px 16px;
	height: 40px;
	border-radius: 2px;

	&:hover {
		cursor: pointer;
	}
}