.Category {
	$Category-border: black;
	$Category-body-border: black;
	$Category-body-background: white;
	$Category-title-font: #4a4a4a;

	min-width: 30%;
	height: 240px;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $Category-border;
	margin: 0 7.5px 15px;
	overflow: hidden;

	&.Category--large {
		height: 380px;
	}

	&:hover {
		cursor: pointer;

		& .Category-background {
			transform: scale(1.1);
			transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		}

		& .Category-body {
			opacity: 0.9;
		}
	}

	.Category-background {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}

	.Category-body {
		height: 90px;
		padding: 0 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid $Category-body-border;
		background-color: $Category-body-background;
		opacity: 0.7;
		position: absolute;

		.Category-title {
			font-weight: bold;
			margin: 0 6px 0;
			font-size: 22px;
			color: $Category-title-font;
		}

		.Category-text {
			font-weight: lighter;
			font-size: 16px;
		}
	}
}